body {
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.colors {
  position: absolute;
  width: 100px;
}
.red,
.blue,
.yellow {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.red {
  background-color: #ec5e26;
}
.blue {
  background-color: #4441e0;
}
.yellow {
  background-color: #d3e36d;
}
.shapes {
  position: absolute;
  width: 300px;
  left: 200px;
  display: flex;
}

.square {
  width: 75px;
  height: 75px;
  background-color: gray;
  cursor: pointer;
}
.hexagon {
  position: absolute;
  left: 200px;
  cursor: pointer;
}
.hexagon::before {
  position: absolute;
  top: -40px;
  content: "\2B22";
  display: block;
  color: gray;
  font-size: 120px;
}
.triangle {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid gray;
  cursor: pointer;
}
